

[submodule "Wizzy/vendor/glfw"]
	path = Wizzy/vendor/glfw
	url = https://github.com/N00TN00T/glfw
[submodule "Wizzy/vendor/spdlog"]
	path = Wizzy/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Wizzy/vendor/imgui"]
	path = Wizzy/vendor/imgui
	url = https://github.com/N00TN00T/imgui/
[submodule "Wizzy/vendor/ulib"]
	path = Wizzy/vendor/ulib
	url = https://github.com/N00TN00T/ulib
[submodule "Wizzy/vendor/box2d"]
	path = Wizzy/vendor/box2d
	url = https://github.com/asbott/box2d
