

[submodule "Wizzy/vendor/glfw"]
	path = Wizzy/vendor/glfw
	url = https://github.com/N00TN00T/glfw
[submodule "Wizzy/vendor/spdlog"]
	path = Wizzy/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Wizzy/vendor/imgui"]
	path = Wizzy/vendor/imgui
	url = https://github.com/N00TN00T/imgui/
[submodule "Wizzy/vendor/glm"]
	path = Wizzy/vendor/glm
	url = https://github.com/g-truc/glm
