

[submodule "Wizzy/vendor/glfw"]
	path = Wizzy/vendor/glfw
	url = https://github.com/N00TN00T/glfw
[submodule "Wizzy/vendor/spdlog"]
	path = Wizzy/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Wizzy/vendor/imgui"]
	path = Wizzy/vendor/imgui
	url = https://github.com/N00TN00T/imgui/
[submodule "Wizzy/vendor/glm"]
	path = Wizzy/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Wizzy/vendor/lua"]
	path = Wizzy/vendor/lua
	url = https://github.com/N00TN00T/lua
[submodule "Wizzy/vendor/pybind11"]
	path = Wizzy/vendor/pybind11
	url = https://github.com/N00TN00T/pybind11
[submodule "Wizzy/vendor/ulib"]
	path = Wizzy/vendor/ulib
	url = https://github.com/N00TN00T/ulib
[submodule "Wizzy/vendor/pdoes"]
	path = Wizzy/vendor/pdoes
	url = https://github.com/N00TN00T/Pure-data-oriented-ECS-System
