# Directories
.vs/
bin/
bin-int/
.vscode/
.codelite/

# Files
*.user
Makefile

# Project files
*.project
*.workspace
*.layout
*.mk
*.vcxproj
*.user
*.filters
*.sln
Makefile
imgui.ini

# Exceptions
!vendor/bin/
!vendor/bin/premake/premake5.exe